@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

*{
  font-family: 'Ramabhadra', sans-serif;
}

.search-items {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.input-search{
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
}

.flex-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 6%;
}

.flex-card{
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 400px;
  height: 630px;
}

.card-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.card-subtitle-items{
  margin-left: 30px;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-content{
  width: 300px;
  height: 300px;
}

.imgDeath {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.paginate-box{
  display: flex;
  justify-content: center;
  margin-right: 5%;

}

.paginate-button{
  margin-left: 30px;
}

.Alive{
  color: rgb(14, 173, 0);
}

.Unknown{
  color: rgb(137, 137, 137);
}

.Dead{
  color: rgb(252, 0, 0);
}

.background {
  background-color: rgb(0, 0, 0);
}

