@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

*{
  font-family: 'Ramabhadra', sans-serif;
}

.flex-card{
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.card-subtitle{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.card-subtitle-items{
  margin-left: 30px;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-content{
  width: 300px;
  height: 300px;
}

.paginate-box{
  display: flex;
  justify-content: space-around;
}

.paginate-button{
  margin-left: 30px;
}

.Alive{
  color: rgb(14, 173, 0);
}

.Unknown{
  color: rgb(137, 137, 137);
}

.Dead{
  color: rgb(252, 0, 0);
}
